@import 'var';

*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Poppins', sans-serif;
}

body{
    background-color: #f3f4f6;
}

// code for header 
.c-header-container
{
    width: 100%;
    height: 75px;
    // border: 2px solid $primary;
    box-shadow: 0 0 5px -1px #454545;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: $white;

    @media (max-width: $tablet-breakdown) {
        height: 60px;
    }    

    .c-navbar-container
    {
        width: 100%;
        height: 100%;
        // border: 2px solid green;

        .c-navbar
        {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .c-logo-menu-toogle-container
            {
                width: max-content;
                height: 100%;
                display: flex;
                align-items: center;
                // border: 2px solid rgb(0, 247, 255);

                .c-logo-container 
                {
                    width: max-content;
                    height: 100%;

                    .c-logo 
                    {
                        height: 100%;
                        width: max-content;
                    }
                }

                .c-menu-toogle-btn-container
                {
                    height: 100%;
                    width: max-content;
                    display: none;

                    .c-menu-toggle-btn
                    {
                        height: 100%;
                        aspect-ratio: 1/1;
                        // border: 2px solid blue;
                        border: none;
                        outline: none;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        padding: 0 0px;
                        background-color: $white;

                        img 
                        {
                            width: 80%;
                        }
                    }

                    @media (max-width: $tablet-breakdown) {
                        display: flex;
                        justify-content: right;
                    }
                }

                @media (max-width: $tablet-breakdown) {
                    width: 100%;
                    justify-content: space-between;

                }
            }

            .c-menu-bar-container
            {
                height: 100%;
                width: max-content;
                // border: 2px solid red;

                .c-close-btn-container
                {
                    display: none;

                    @media (max-width: $tablet-breakdown) {
                        display: flex;
                        position: fixed;
                        top: 10px;
                        right: 10px;
                        z-index: 2;
                    }

                    .c-close-btn
                    {
                        color: $white;
                    }
                }

                .c-menu-bar
                {
                    height: 100%;
                    width: max-content;
                    list-style: none;
                    display: flex;
                    align-items: center;
                    padding: 0;

                    .c-menu-item
                    {
                        height: 100%;
                        width: max-content;
                        display: flex;
                        align-items: center;

                        a
                        {
                            height: 100%;
                            width: max-content;
                            display: flex;
                            align-items: center;
                            text-decoration: none;
                            padding: 0 20px;
                            color: $primary;
                            font-size: 1.3rem;
                            font-weight: 400;
                            transition: color .2s ease-in;
                            // border: 2px solid red;

                            &:hover
                            {
                                color: $warning;
                            }

                            @media (max-width: $tablet-breakdown) {
                                width: 100%;
                                justify-content: center;
                                padding: 20px 0;
                                font-size: 2rem;
                                font-family: Anton;
                                color: $gray;
                            }
                        }

                        @media (max-width: $tablet-breakdown) {
                            width: 100%;
                            height: max-content;
                        }

                        .c-active
                        {
                            font-weight: 600;
                            letter-spacing: 1px;
                        }
                    }

                    @media (max-width: $tablet-breakdown) {
                        width: 100%;
                        height: 100%;
                        flex-direction: column;
                        padding: 0;
                        justify-content: center;
                    }
                }

                @media (max-width: $tablet-breakdown) {
                    width: 100%;
                    height: 100vh;
                    display: none;
                    flex-direction: column;
                    position: fixed;
                    bottom: 0;
                    background-color: $primary;
                    color: $white;
                    z-index: 9999;
                }

            }

            .c-nav-btn-container
            {
                height: 100%;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;

                .c-btn 
                {
                    height: 90%;
                    max-height: 50px;
                    width: max-content;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    padding: 0 20px;
                    color: $white;
                    background-color: $warning;
                    border-radius: 3px;
                    font-size: 1rem;
                    font-weight: 400;
                }

                @media (max-width: $laptop-breakdown) {
                    display: none;
                }
            }

            @media (max-width: $mobile-breakdown) {
                flex-direction: column;
            }
        }
    }
}

// code for banner section

.c-banner-container
{
    height: auto;
    min-height: calc(100vh - 75px);
    // border: 2px solid red;
    display: flex;
    background: linear-gradient(45deg, #03030300, #00000000), url('https://careerwidth.com/wp-content/uploads/2024/01/Blue-White-Modern-Business-Agency-Blog-Banner.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    .c-banner-left
    {
        width: 50%;
        // height: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        // border: 2px solid blue;
        position: relative;
        z-index: 2;

        h1 
        {
            font-size: 5rem;
            font-weight: 800;
            text-transform: uppercase;
            margin-top: 20px;
            color: $warning;

            @media (max-width: $laptop-breakdown) {
                font-size: 4rem;
            }
            @media (max-width: $tablet-breakdown) {
                font-size: 3.5rem;
                text-align: center;
            }
            @media (max-width: $mobile-breakdown) {
                font-size: 3rem;
                text-align: center;
            }
        }

        h2 
        {
            font-size: 2.9rem;
            font-weight: 600;
            text-transform: capitalize;
            margin: 4px 0 20px 0;
            color: $white;

            @media (max-width: $laptop-breakdown) {
                font-size: 2.3rem;
            }

            @media (max-width: $tablet-breakdown) {
                font-size: 2rem;
                text-align: center;
            }
            @media (max-width: $mobile-breakdown) {
                font-size: 1.7rem;
                text-align: center;
            }
        }

        p 
        {
            font-size: 1.2rem;
            font-weight: 300;
            // text-transform: capitalize;
            margin: 4px 0 60px 0;
            color: $white;
            padding-right: 10%;
            letter-spacing: .8px;

            @media (max-width: $tablet-breakdown) {
                padding-right: 5px;
                text-align: center;
            }
        }

        a 
        {
            width: max-content;
            padding: 10px 30px;
            text-decoration: none;
            // border: 2px solid red;
            font-size: 1.3rem;
            color: $white;
            background-color: $warning;
            margin-bottom: 20px;
        }

        &::before
        {
            content: '';
            height: 100%;
            width: 150%;
            background-color: #05204172;
            // opacity: .5;
            position: absolute;
            top: 0;
            left: -50%;
            z-index: -1;
            transform: skew(-20deg);

            @media (max-width: $tablet-breakdown) {
                display: none;
            }
            
        }

        @media (max-width: $tablet-breakdown) {
            width: 100%;
            align-items: center;
        }

    }
    .c-banner-right
    {
        width: 50%;
        // height: 100%;
        // border: 2px solid green;

        @media (max-width: $tablet-breakdown) {
            width: 0%;
        }
    }

    @media (max-width: $tablet-breakdown) {
        background: linear-gradient(90deg, #052041ac, #0520419f), url('../images/bg/banner-bg-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
}

// code for welcome section 
.c-welcome-text-container
{
    display: flex;
    flex-direction: column;
    padding: 50px 0;

    .c-heading
    {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 3rem;
        color: $primary;
        position: relative;
        text-transform: uppercase;

        &::before
        {
            content: '';
            height: 5px;
            width: 100px;
            background-color: $primary;
            position: absolute;
            bottom: -5px;
            // left: 50%;
            transform: translateX(120%);

            @media (max-width: $mobile-breakdown) {
                transform: translateX(70%);         
            }
        }

        span 
        {
            color: $warning;
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 2.2rem;            
        }
    }

    p 
    {
        font-size: 1.2rem;
        text-align: justify;

        @media (max-width: $tablet-breakdown) {
            padding: 0 10px;
        }
    }
}

// code for program overview section 

.c-program-overview-container
{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    background-color: $primary;
    color: $white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    .c-heading
    {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 3rem;
        color: $white;
        position: relative;
        text-transform: uppercase;

        @media (max-width: $tablet-breakdown) {
            font-size: 2.4rem;            
        }
        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;            
        }

        &::before
        {
            content: '';
            height: 5px;
            width: 200px;
            background-color: $warning;
            position: absolute;
            bottom: -5px;
            left: 42.6%;

            @media (max-width: $laptop-breakdown) {
                left: 40%;        
            }
            @media (max-width: $tablet-breakdown) {
                left: 36%;        
            }
            @media (max-width: $mobile-breakdown) {
                left: 25%;        
            }
        }

        span 
        {
            color: $warning;
            font-family: poppins;
        }
    }

    .c-program-overview 
    {
        width: 100%;
        height: auto;
        // border: 2px solid red;
        display: flex;
        flex-direction: column;
        padding: 0;

        .c-left-part
        {
            width: 100%;
            // border: 2px solid rgb(0, 76, 255);
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media (max-width: $tablet-breakdown) {
                width: 100%;
            }

            p 
            {
                font-size: 1.2rem;
                text-align: justify;
            }

            
            
        }
        .c-right-part
        {
            width: 100%;
            // border: 2px solid rgb(0, 76, 255);
            padding: 20px 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 10px;

            @media (max-width: $tablet-breakdown) {
                width: 100%;
                padding: 0 10px;
            }
            

            .c-points
            {
                width: 49%;
                height: 400px;
                border: 2px solid rgb(8, 28, 179);
                background-color: $gray;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                position: relative;

                @media (max-width: $laptop-breakdown) {
                    width: 49%;
                }

                @media (max-width: $tablet-breakdown) {
                    width: 100%;
                }


                h2
                {
                    font-size: 1.7rem;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                    margin: 0;
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    background-color: $primary;
                    padding: 5px 10px;

                    @media (max-width: $laptop-breakdown) {
                        font-size: 1.2rem;
                        font-weight: 900;
                    }
                }

                img 
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top center;
                    padding: 10px;
                }

               
                
            }        

        }

        @media (max-width: $tablet-breakdown) {
            flex-direction: column-reverse;
        }
    }
}

// code for university section
.c-university
{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    color: $white;
    background-color: #fff;

    .c-heading
    {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 3rem;
        color: $primary;
        position: relative;
        text-transform: uppercase;

        @media (max-width: $tablet-breakdown) {
            font-size: 2.4rem;            
        }
        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;            
        }

        // &::before
        // {
        //     content: '';
        //     height: 5px;
        //     width: 200px;
        //     background-color: $warning;
        //     position: absolute;
        //     bottom: -5px;
        //     left: 42.6%;

        //     @media (max-width: $laptop-breakdown) {
        //         left: 40%;        
        //     }
        //     @media (max-width: $tablet-breakdown) {
        //         left: 36%;        
        //     }
        //     @media (max-width: $mobile-breakdown) {
        //         left: 25%;        
        //     }
        // }

        span 
        {
            color: $warning;
            font-family: poppins;
        }
    }


    .c-image-container
    {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 20px;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-padding: 20px;

        &::-webkit-scrollbar
        {
            display: none;
            // width: 300px;
            // height: 10px;
            // background-color: $primary;
        }

        .c-image-box 
        {
            width: max-content;
            max-width: 300px;
            min-width: 300px;
            border: 2px solid $gray;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $primary;
            scroll-snap-align: start;

            &:nth-child(1){
                background-color: $primary;
                border-radius: 10px;
                color: $white;
            }

            &:nth-child(3){
                background-color: $primary;
                border-radius: 10px;
                color: $white;
            }

            img 
            {
                height: 100px;
                // border-radius: 50%;
                width: -webkit-fill-available;
                object-fit: contain;
                padding: 10px 10px;
            }

            h5 
            {
                text-transform: capitalize;
                margin-top: 10px;
                // display: none;
            }
        }
    }

}

// code for who can participate section
.c-who-can-participate-container
{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    color: $white;

    .c-heading
    {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 3rem;
        color: $primary;
        position: relative;
        text-transform: uppercase;

        // &::before
        // {
        //     content: '';
        //     height: 5px;
        //     width: 100px;
        //     background-color: $primary;
        //     position: absolute;
        //     bottom: -5px;
        //     // left: 50%;
        //     transform: translateX(120%);

        //     @media (max-width: $mobile-breakdown) {
        //         transform: translateX(70%);         
        //     }
        // }

        span 
        {
            color: $success;
        }

        @media (max-width: $tablet-breakdown) {
            font-size: 2.2rem;            
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;            
        }
    }

    .c-content 
    {
        width: 70%;
        background-color: $white;
        box-shadow: 0 5px 20px -20px $primary;
        border-left: 4px solid $success;

        @media (max-width: $tablet-breakdown) {
            width: 80%;
        }

        @media (max-width: $mobile-breakdown) {
            width: 90%;
        }

        p 
        {
            font-size: 1.2rem;
            color: $primary;
            padding: 30px 10px;
            text-align: left;
            margin: 0;
            font-style: italic;
        }
    }
}

// code for your todo list section 

.c-your-todo-container
{
    background-color: $warning;
    padding: 50px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .c-heading
    {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 3rem;
        color: $white;
        position: relative;
        text-transform: uppercase;

        @media (max-width: $tablet-breakdown) {
            font-size: 2.4rem;            
        }
        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;            
        }

        // &::before
        // {
        //     content: '';
        //     height: 5px;
        //     width: 200px;
        //     background-color: $warning;
        //     position: absolute;
        //     bottom: -5px;
        //     left: 42.6%;

        //     @media (max-width: $laptop-breakdown) {
        //         left: 40%;        
        //     }
        //     @media (max-width: $tablet-breakdown) {
        //         left: 36%;        
        //     }
        //     @media (max-width: $mobile-breakdown) {
        //         left: 25%;        
        //     }
        // }

        span 
        {
            color: $primary;
            font-family: poppins;
        }
    }

    .c-your-todo
    {
        // border: 1px solid blue;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 25px;

        .c-card
        {
            width: 32%;
            height: auto;
            background-color: $white;
            padding: 20px;
            border-radius: 20px;
            cursor: pointer;
            transition: all .3s ease-in;

            .c-card-image
            {
                height: 100px;
                width: 100px;
                border: 2px solid $primary;
                background-color: $primary;
                border-radius: 50px;
                overflow: hidden;
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .2s ease-in;

                h1 
                {
                    margin: 0;
                    padding: 0;
                    font-size: 4rem;
                    font-family: Anton;
                    color: $danger;
                }

                // img 
                // {
                //     height: 100%;
                //     width: 1005;
                //     object-fit: cover;
                //     border-radius: 50px;
                // }

            }

            h2 
            {
                font-family: poppins;
                font-size: 1.3rem;
                font-weight: 600;
                margin-top: 20px;
                text-transform: capitalize;

            }

            p 
            {
                margin: 0;
                padding: 0;
                font-size: 1rem;
                font-family: poppins;
                font-weight: 500;
            }

            &:hover 
            {
                transform: translateY(-10px);
                box-shadow: 0px 10px 80px -30px $primary;

                .c-card-image
                {
                    background-color: $warning;
                    border: 2px solid $warning;

                    h1 
                    {
                        color: $white;
                    }
                }
            }

            @media (max-width: $tablet-breakdown) {
                width: 90%;
            }
        }

        @media (max-width: $tablet-breakdown) {
            justify-content: center;
        }
    } 
}

// code for scholarship details section
.c-scholarship-details-container
{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    color: $white;

    .c-heading
    {
        text-align: left;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 3rem;
        color: $primary;
        position: relative;
        text-transform: uppercase;

        span 
        {
            color: $danger;
            font-family: poppins;
        }

        @media (max-width: $tablet-breakdown) {
            text-align: center;
            font-size: 2.4rem;   
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;   
        }
    }

    .c-points-container
    {
        width: 100%;
        height: auto;
        color: $primary;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: $laptop-breakdown) {
            flex-direction: column;
            align-items: center;
        }

        .c-points 
        {
            width: 45%;
            // border: 2px solid $danger;
            // border-left: 5px solid $danger;
            padding: 20px 30px;
            background-color: #fff;
            box-shadow: 0px 4px 93px -51px #000000;

            @media (max-width: $laptop-breakdown) {
                width: 95%;
            }

            p 
            {
                margin: 0;
                font-size: 1.2rem;
                font-family: poppins;
            }

            &:first-child
            {
                // border: 2px solid green;
                border-left: 5px solid $danger;
                position: relative;

                &::after
                {
                    content: '1';
                    height: 70%;
                    aspect-ratio: 1/1;
                    background-color: $danger;
                    z-index: 9;
                    position: absolute;
                    top: -10%;
                    right: -4%;
                    border-radius: 50%;
                    opacity: .2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 4rem;
                    color: $white;
                    font-family: anton;
                }
            }

            &:last-child
            {
                // border: 2px solid green;
                border-right: 5px solid $danger;
                position: relative;

                &::before
                {
                    content: '2';
                    height: 70%;
                    aspect-ratio: 1/1;
                    background-color: $danger;
                    z-index: 9;
                    position: absolute;
                    bottom: -10%;
                    left: -4%;
                    border-radius: 50%;
                    opacity: .2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 4rem;
                    color: $white;
                    font-family: anton;
                }
            }
        }
    }

}

// code for prizes section
.c-prizes-container
{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    color: $white;

    .c-heading
    {
        text-align: left;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 3rem;
        color: $primary;
        position: relative;
        text-transform: uppercase;

        span 
        {
            color: $primary;
            font-family: poppins;
        }

        @media (max-width: $tablet-breakdown) {
            text-align: center;
            font-size: 2.4rem;   
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;   
        }
    }

    .c-points-container
    {
        width: 100%;
        height: auto;
        color: $primary;
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: $laptop-breakdown) {
            flex-direction: column;
            align-items: center;
        }

        .c-points 
        {
            width: 45%;
            // border: 2px solid $danger;
            // border-left: 5px solid $danger;
            padding: 20px 30px;
            background-color: #fff;

            @media (max-width: $laptop-breakdown) {
                width: 95%;
            }

            p 
            {
                margin: 0;
                font-size: 1.2rem;
                font-family: poppins;
            }

            &:first-child
            {
                // border: 2px solid green;
                border-left: 5px solid $primary;
                position: relative;

                &::after
                {
                    content: '';
                    height: 70%;
                    aspect-ratio: 1/1;
                    // background-color: $primary;
                    z-index: 9;
                    position: absolute;
                    bottom: -10%;
                    right: -4%;
                    // border-radius: 50%;
                    opacity: .3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 4rem;
                    color: $white;
                    font-family: anton;
                    background-image: url('https://d8it4huxumps7.cloudfront.net/uploads/images/svg-images/unstop-trophy.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    @media (max-width: $mobile-breakdown) {
                        height: 100px;
                    }
                }
            }

            &:last-child
            {
                // border: 2px solid green;
                border-right: 5px solid $primary;
                position: relative;

                &::before
                {
                    content: '';
                    height: 70%;
                    aspect-ratio: 1/1;
                    // background-color: $primary;
                    z-index: 9;
                    position: absolute;
                    top: -10%;
                    left: -4%;
                    // border-radius: 50%;
                    opacity: .3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 4rem;
                    color: $white;
                    font-family: anton;
                    background-image: url('https://d8it4huxumps7.cloudfront.net/uploads/images/svg-images/unstop-trophy.png');
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    @media (max-width: $mobile-breakdown) {
                        height: 100px;
                    }
                }
            }
        }
    }

}

// code for students benefit

.c-student-benefit-container
{
    background-color: $warning;
    padding: 50px 0;
    // border-top-left-radius: 50px;
    // border-top-right-radius: 50px;

    .c-heading
    {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 3rem;
        color: $white;
        position: relative;
        text-transform: uppercase;

        @media (max-width: $tablet-breakdown) {
            font-size: 2.4rem;            
        }
        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;            
        }

        // &::before
        // {
        //     content: '';
        //     height: 5px;
        //     width: 200px;
        //     background-color: $warning;
        //     position: absolute;
        //     bottom: -5px;
        //     left: 42.6%;

        //     @media (max-width: $laptop-breakdown) {
        //         left: 40%;        
        //     }
        //     @media (max-width: $tablet-breakdown) {
        //         left: 36%;        
        //     }
        //     @media (max-width: $mobile-breakdown) {
        //         left: 25%;        
        //     }
        // }

        span 
        {
            color: $primary;
            font-family: poppins;
        }
    }

    .c-student-benefit
    {
        // border: 1px solid blue;
        padding: 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: $tablet-breakdown) {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }

        .c-left 
        {
            width: 47%;
            // height: 100px;
            // border: 1px solid red;
            background-image: url('https://img.freepik.com/free-photo/happy-student-with-graduation-hat-diploma-grey_231208-12979.jpg');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;

            @media (max-width: $tablet-breakdown) {
                width: 95%;
                height: 300px;
            }
        }

        .c-right 
        {
            width: 50%;
            // height: 100px;
            // border: 1px solid red;

            @media (max-width: $tablet-breakdown) {
                width: 95%;
            }

            h2 
            {
                font-size: 1.5rem;
                font-weight: 700;
                color: $gray;
            }

            ul 
            {
                list-style: none;

                li 
                {
                    background-image: url('https://cdn-icons-png.freepik.com/512/5610/5610944.png');
                    background-repeat: no-repeat;
                    background-size: 20px;
                    background-position: 2px 5px;
                    font-size: 1.2rem;
                    margin-top: 10px;
                    padding-left: 30px;
                    // border-left: 4px solid $primary;
                    color: $primary;
                    font-weight: 500;
                }
            }
        }
       
    } 
}

// ░█████╗░██████╗░░█████╗░██╗░░░██╗████████╗
// ██╔══██╗██╔══██╗██╔══██╗██║░░░██║╚══██╔══╝
// ███████║██████╦╝██║░░██║██║░░░██║░░░██║░░░
// ██╔══██║██╔══██╗██║░░██║██║░░░██║░░░██║░░░
// ██║░░██║██████╦╝╚█████╔╝╚██████╔╝░░░██║░░░
// ╚═╝░░╚═╝╚═════╝░░╚════╝░░╚═════╝░░░░╚═╝░░░

// ************************************************
// code for about us page 
// ************************************************


// code for about us banner 
.c-about-us-banner-container
{
    width: 100%;
    height: 350px;
    // border: 2px solid red ;
    // background-image: linear-gradient(45deg, #00000034, #0000002b), url('https://cdn.pixabay.com/photo/2021/10/11/04/08/university-6699377_1280.jpg');
    background-image: linear-gradient(45deg, #0000009a, #00000098), url('https://hips.hearstapps.com/hmg-prod/images/berry-college-historic-campus-at-twilight-royalty-free-image-1652127954.jpg?crop=1xw:0.84415xh;center,top&resize=1200:*');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet-breakdown) {
        height: 250px;
    }

    h1 
    {
        color: $white;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 3.5rem;
        text-align: center;

        @media (max-width: $tablet-breakdown) {
            font-size: 2.8rem;
        }

        span 
        {
            color: $warning;
        }
    }

    h5 
    {
        color: $white;
        font-size: 2rem;
        text-align: center;

        @media (max-width: $tablet-breakdown) {
            font-size: 1.5rem;
        }
    }
    
}

// code for welcome text 
.c-about-welcome-text-container
{
    height: fit-content;
    // border: 1px solid red;
    padding: 50px 0;
    
    .c-heading
    {
        text-align: left;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 3rem;
        color: $primary;
        position: relative;
        text-transform: uppercase;

        span 
        {
            color: $warning;
            font-family: poppins;
        }

        @media (max-width: $tablet-breakdown) {
            text-align: center;
            font-size: 2.4rem;   
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;   
        }
    }

    p 
    {
        font-size: 1.2rem;
        font-family: poppins;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: .2px;
        word-spacing: 1px;
        padding: 10px 10px;


        @media (max-width: $mobile-breakdown) {
            font-size: 1rem;   
            line-height: 1.7rem;
            text-align: justify;
        }
    }
}

//code for our values section 

.c-our-value-container
{
    // border: 2px solid red;
    background-image: linear-gradient(45deg, #00000061, #0000006a), url('https://hips.hearstapps.com/hmg-prod/images/berry-college-historic-campus-at-twilight-royalty-free-image-1652127954.jpg?crop=1xw:0.84415xh;center,top&resize=1200:*');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5% 0;


    .c-our-value 
    {
        // border: 2px solid rgb(0, 11, 128);

        .c-row
        {
            // display: flex;
            // justify-content: space-between;

            .col-12
            {

                .c-card 
                {
                    // width: 32%;
                    height: 100%;
                    position: relative;
    
                    .c-card-title
                    {
                        font-size: 1.5rem;
                        font-family: poppins;
                        font-weight: 600;
                        line-height: 2.8rem;
                        z-index: 2;
                        margin: 0;
                    }
    
                    .c-card-text
                    {
                        font-size: 1.2rem;
                        font-family: poppins;
                        font-weight: 400;
                        z-index: 2;

                        @media (max-width: $mobile-breakdown) {
                            font-size: 1rem;
                        }
                    }
    
                    .c-icon-container
                    {
                        height: 100px;
                        position: absolute;
                        right: 10px;
                        top: 50%;

                        img 
                        {
                            width: auto;
                            height: 100%;
                            opacity: .130;
                        }
                    }
    
                }

                &:nth-child(even)
                {
                    .c-card
                    {
                        background-color: $primary-light;
                        color: $primary;
                    }

                }
                &:nth-child(odd)
                {
                    .c-card
                    {
                        background-color: $warning-light;
                        color: $primary;
                    }

                }
    
                .c-main-card
                {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    h2
                    {
                        font-size: 2.6rem !important;
                        text-transform: uppercase;
                        font-weight: 800 !important;
                        font-family: poppins !important;
                        color: $primary !important; 
    
                        span 
                        {
                            color: $warning;
                            font-size: 2.6rem !important;
                            text-transform: uppercase;
                            font-weight: 800 !important;
                            font-family: poppins !important;
                        }
                    }
                }

            }


        } 
    }
}





// ░█████╗░  ░█████╗   ███╗  ██╗  ████████╗  ░█████╗░  ░█████╗░  ████████╗
// ██╔══██╗  ██╔══██╗  ████╗░██║  ╚══██╔══╝  ██╔══██╗  ██╔══██╗  ╚══██╔══╝
// ██║  ╚═╝  ██║  ██║  ██╔██╗██║     ██║     ███████║  ██║  ╚═╝     ██║   
// ██║  ██╗  ██║  ██║  ██║╚████║     ██║     ██╔══██║  ██║  ██╗     ██║   
// ╚█████╔╝  ╚█████╔╝  ██║░╚███║     ██║     ██║  ██║  ╚█████╔╝     ██║   
// 

// code for about us banner 
.c-contact-us-banner-container
{
    width: 100%;
    height: 350px;
    // border: 2px solid red ;
    // background-image: linear-gradient(45deg, #00000034, #0000002b), url('https://cdn.pixabay.com/photo/2021/10/11/04/08/university-6699377_1280.jpg');
    background-image: linear-gradient(45deg, #0000009a, #00000098), url('https://hips.hearstapps.com/hmg-prod/images/berry-college-historic-campus-at-twilight-royalty-free-image-1652127954.jpg?crop=1xw:0.84415xh;center,top&resize=1200:*');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: $tablet-breakdown) {
        height: 250px;
    }

    h1 
    {
        color: $white;
        font-family: sans-serif;
        font-weight: 600;
        font-size: 3.5rem;
        text-align: center;

        @media (max-width: $tablet-breakdown) {
            font-size: 2.8rem;
        }

        span 
        {
            color: $warning;
        }
    }

    h5 
    {
        color: $white;
        font-size: 2rem;
        text-align: center;

        @media (max-width: $tablet-breakdown) {
            font-size: 1.5rem;
        }
    }
    
}


.c-info-tab-container
{
    height: auto;
    margin-top: 50px;
    position: sticky;
    top: 75px;
    background-color: $white;
    z-index: 9;
    display: flex;
    box-shadow: 0 10px 7px $gray;
    overflow-x: auto;

    @media (max-width: $tablet-breakdown) {
        top: 60px;
    }
    @media (max-width: $mobile-breakdown) {
        top: 60px;
    }

    &::-webkit-scrollbar
    {
        display: none;
    }

    .info-tab-item 
    {
        text-decoration: none;
        padding: 10px 0;
        margin: 0 20px;
        font-size: 1.2rem;
        font-family: poppins;
        font-weight: 500;
        color: $primary;
        transition: all .3s ease-in;
        position: relative;
        text-wrap: nowrap;

        &::after
        {
            content: '';
            height: 5px;
            width: 0%;
            background-color: $warning;
            position: absolute;
            bottom: 0;
            left: 50%;
            transition: all .4s ease-in;
        }

        &:hover
        {
            color: $warning;

            &::after
            {
                width: 100%;
                left: 0;
            }
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1rem;
        }


    }

    .active 
    {
        color: $warning;

        &::after
        {
            content: '';
            height: 5px;
            width: 100%;
            background-color: $warning;
            position: absolute;
            bottom: 0;
            left: 0%;
            transition: all .4s ease-in;
        }
    }
}


// code for your todo guidelines  section
.c-your-todo-guidelines-container
{
    width: 100%;
    height: max-content;
    // border: 2px solid red;
    padding: 50px 10px;


    .c-sub-heading
    {
        text-align: left;
        margin-bottom: .5rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 1.3rem;
        color: $warning;
        position: relative;
        text-transform: uppercase;

        span 
        {
            color: $primary;
            font-family: poppins;
        }

        @media (max-width: $tablet-breakdown) {
            text-align: center;
            font-size: 1.1rem;   
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1rem;   
        }
    }

    .c-heading
    {
        text-align: left;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 2rem;
        color: $primary;
        position: relative;
        text-transform: uppercase;

        span 
        {
            color: $primary;
            font-family: poppins;
        }

        @media (max-width: $tablet-breakdown) {
            text-align: center;
            font-size: 2rem;   
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;   
        }
    }

    .c-todo-list-container
    {
        border-left: 2px dashed $warning;
        margin-left: 10px;

        .c-todo-list-item
        {
            position: relative;
            padding: 0 20px;
            margin-bottom: 20px;

            p 
            {
                font-size: 1.2rem;
                font-family: poppins;

                b 
                {
                    font-size: 1.2rem;
                    font-family: poppins;

                    @media (max-width: $mobile-breakdown) {
                        font-size: 1.1rem;
                    }
                }

                @media (max-width: $mobile-breakdown) {
                    font-size: 1.1rem;
                }
            }

            &::before 
            {
                content: '';
                width: 20px;
                height: 20px;
                background-color: rgb(255, 255, 255);
                border: 2px solid $warning;
                border-radius: 50%;
                position: absolute;
                left: -11px;
                top: 50%;
                margin-top: -10px;
            }

            &::after 
            {
                content: '';
                width: 10px;
                height: 10px;
                background-color: $warning;
                border-radius: 50%;
                position: absolute;
                left: -6px;
                top: 50%;
                margin-top: -5px;
            }
        }
    }

}

// code for how to partcipate section
.c-how-to-partcipate-container
{
    width: 100%;
    height: max-content;
    // border: 2px solid red;
    padding: 50px 10px;

    .c-sub-heading
    {
        text-align: left;
        margin-bottom: .5rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 1.3rem;
        color: $warning;
        position: relative;
        text-transform: uppercase;

        span 
        {
            color: $primary;
            font-family: poppins;
        }

        @media (max-width: $tablet-breakdown) {
            text-align: center;
            font-size: 1.1rem;   
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1rem;   
        }
    }

    .c-heading
    {
        text-align: left;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 2rem;
        color: $primary;
        position: relative;
        text-transform: uppercase;

        span 
        {
            color: $primary;
            font-family: poppins;
        }

        @media (max-width: $tablet-breakdown) {
            text-align: center;
            font-size: 2rem;   
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;   
        }
    }

    .c-todo-list-container
    {
        border-left: 2px solid $warning;
        position: relative;
        margin-left: 10px;           
  

        .c-todo-list-item
        {
            position: relative;
            padding: 0 30px;
            margin-bottom: 40px; 

            &::before 
            {
                content: '';
                width: 30px;
                height: 30px;
                background-color: rgb(255, 255, 255);
                border: 2px solid $warning;
                border-radius: 50%;
                position: absolute;
                left: -15px;
                top: 50%;
                margin-top: -15px;
            }

            &::after 
            {
                content: '';
                width: 15px;
                height: 15px;
                background-color: $warning;
                border-radius: 50%;
                position: absolute;
                left: -7.5px;
                top: 50%;
                margin-top: -7.5px;
            }
            
            h2 
            {
                font-size: 1.5rem;
                font-family: poppins;
                font-weight: 700;
                color: $primary;

                @media (max-width: $tablet-breakdown) {
                    font-size: 1.1rem;
                }
            }

            .c-sub-todo-list-container
            {
                position: relative;
                padding: 0 0px;
                margin-bottom: 20px;
                border-left: 2px dashed $primary;
                

                .c-todo-list-item
                {
                    position: relative;
                    padding: 0 20px;
                    margin-bottom: 20px;

                    p 
                    {
                        font-size: 1.2rem;
                        font-family: poppins;

                        b
                        {
                            font-size: 1.2rem;
                            font-family: poppins;

                            @media (max-width: $mobile-breakdown) {
                                font-size: 1.1rem;
                            }
                        }

                        @media (max-width: $mobile-breakdown) {
                            font-size: 1.1rem;
                        }
                    }

                    &::before 
                    {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background-color: $white;
                        border: 2px solid $primary;
                        border-radius: 50%;
                        position: absolute;
                        left: -11px;
                        top: 50%;
                        margin-top: -10px;
                    }

                    &::after 
                    {
                        content: '';
                        width: 10px;
                        height: 10px;
                        background-color: $primary;
                        border-radius: 50%;
                        position: absolute;
                        left: -6px;
                        top: 50%;
                        margin-top: -5px;
                    }
                }

            }

        }
    }

}

// code for important date and deadlines

.c-important-date-and-deadlines-container
{
    .c-heading
    {
        text-align: left;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 2rem;
        color: $primary;
        position: relative;

        span 
        {
            color: $primary;
            font-family: poppins;
        }

        @media (max-width: $tablet-breakdown) {
            text-align: center;
            font-size: 2rem;   
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;   
        }
    }

    .c-date-deadlines-container
    {
        // border: 2px solid red;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;

        @media (max-width: $tablet-breakdown) {
            justify-content: space-around;

        }

        .c-date-deadline-card
        {
            width: fit-content;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border: 1px solid $warning;
            background-color: $white;
            border-radius: 5px;

            @media (max-width: $mobile-breakdown) {
                width: 100%;

            }


            .c-icon 
            {
                width: fit-content;
                height: fit-content;
                display: grid;
                place-items: center;
                border: 1px solid $danger;
                padding: 10px;
                border-radius: 50px;
                background-color: $warning-light;
            }

            .c-text 
            {
                padding-left: 20px;
                font-family: poppins;
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h4 
                {
                    font-size: 1.1rem;
                    margin: 0 !important;
                }

                p
                {
                    margin: 0 !important;
                }
            }
        }
        
    }
}

// code for students benefit

.c-contact-us-form-container
{
    background-color: #3e3876;
    padding: 50px 0;

    .c-sub-heading
    {
        text-align: center;
        margin-bottom: .5rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 1.3rem;
        color: $warning;
        position: relative;
        text-transform: uppercase;

        span 
        {
            color: $primary;
            font-family: poppins;
        }

        @media (max-width: $tablet-breakdown) {
            text-align: center;
            font-size: 1.1rem;   
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1rem;   
        }
    }

    .c-heading
    {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 700;
        font-family: poppins;
        font-size: 2rem;
        color: $white;
        position: relative;
        text-transform: uppercase;

        span 
        {
            color: $primary;
            font-family: poppins;
        }

        @media (max-width: $tablet-breakdown) {
            text-align: center;
            font-size: 2rem;   
        }

        @media (max-width: $mobile-breakdown) {
            font-size: 1.7rem;   
        }
    }

    .c-student-benefit
    {
        // border: 1px solid blue;
        padding: 0;
        display: flex;
        justify-content: center;

        @media (max-width: $tablet-breakdown) {
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
        }


        .c-right 
        {
            width: 80%;
            // height: 100px;
            // border: 1px solid red;

            @media (max-width: $tablet-breakdown) {
                width: 95%;
            }

            .c-form-container
            {
                background-color: $white !important;

                .strong-label
                {
                    font-weight: 500;
                }
                
            }

            
        }
       
    } 
}





// ███████╗░█████╗░░█████╗░████████╗███████╗██████╗░
// ██╔════╝██╔══██╗██╔══██╗╚══██╔══╝██╔════╝██╔══██╗
// █████╗░░██║░░██║██║░░██║░░░██║░░░█████╗░░██████╔╝
// ██╔══╝░░██║░░██║██║░░██║░░░██║░░░██╔══╝░░██╔══██╗
// ██║░░░░░╚█████╔╝╚█████╔╝░░░██║░░░███████╗██║░░██║
// ╚═╝░░░░░░╚════╝░░╚════╝░░░░╚═╝░░░╚══════╝╚═╝░░╚═╝

.c-footer-container
{
    background-color: $primary;
    padding: 50px 0 0 0;
    color: $white;

    .c-footer-img
    {
        height: 150px;
    }

    h4 
    {
        color: $warning;
    }

    a 
    {
        text-decoration: none;
        color: $white;

        &:hover
        {
            color: $warning;
        }
    }

    .c-quick-links
    {
        list-style: none;
        margin: 0;
        padding: 0;

        li
        {
            padding: 5px 0;


            a 
            {
                text-decoration: none;
                color: $white;

                &:hover
                {
                    color: $warning;
                }
            }
        }
    }
    .c-social-links
    {
        list-style: none;
        margin: 0;
        padding: 0;

        li
        {
            padding: 5px 0;

            a 
            {
                text-decoration: none;
                color: $white;
                display: flex;
                align-items: center;
                column-gap: 10px;
                font-size: 1.2rem;

                &:hover
                {
                    color: $warning;
                }
            }
        }
    }
}